body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .nuestros-productos {
    text-align: center;
  }
  
  .nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .nosotros-img {
    width: 300px;
    height: auto;
    margin-right: 20px;
  }
  
  .nosotros-texto {
    text-align: left;
  }
  
  .bloques {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .bloque {
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .bloque img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .bloque-titulo {
    margin-bottom: 10px;
  }

  .logo-img {
    width: 90px;
    height: auto;
    margin-right: 10px; 
  }
  
  .nav-link {
    display: flex;
    align-items: center;
  }
  
  .nav-link:first-child {
    display: inline-flex;
    align-items: center;
  }
  
  .nav-link:first-child svg {
    margin-right: 5px; 
  }
  