.logo-img {
  width: 90px;
  height: auto;
  margin-right: 10px; 
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link:first-child {
  display: inline-flex;
  align-items: center;
}

.nav-link:first-child svg {
  margin-right: 5px; 
}

body {
  margin: -2px;
  padding: -9px;
}

h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 9px auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#response-message {
  margin-top: 10px;
}
