button, input, select, label, text{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    border: 1px solid rgb(2, 11, 14);
    position: relative;
    width: 740px;
    height: 790px;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.2em;
    box-sizing: border-box;
    background: rgb(208, 237, 250);

    display:grid;
    grid-gap:15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1em 1em 1em 1em;
}
        :invalid::after{
    content:" * revisar";
    color:  rgb(235, 67, 67);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 67, 67);
}

:valid{
    content: "ok";
}

#main_title h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
}

#h2{
    text-align:center;
    font-size: 35px;
    color: rgb(13, 48, 122);
    
}